html,body{
  font-family: "Plus Jakarta Sans";
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1200px;
  border: 2px solid #000;
  border-radius: 5px;
}

.foto-pelanggaran-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.foto-pelanggaran-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolom */
  gap: 10px;
  margin-top: 12px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.gallery-image {
  width: 400px;
  height: 200px;
  object-fit: cover; /* biar nggak gepeng */
  display: block;
  border-radius: 8px;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 12px;
  padding: 6px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-info {
  margin: 2px 0;
}

.foto-pelanggaran-item:hover .foto-overlay {
  opacity: 1;
}

.pagination-controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pagination-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s,color 0.3s,transform 0.2s;
}

.pagination-button:hover{
  background-color: white;
  color: black;
  transform: translateY(-3px);
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}