html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional, but it helps with element sizing */
  font-family: "Plus Jakarta Sans";
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-weight: 900;
  color: white;
  max-height: 90px;
  margin-bottom: 30px;
}

.page-nav{
  display: flex;
  align-items: center;
  gap: 50px;
}

.auth-nav{
  margin-right: 40px;
}

.google-login-button {
  width: 150px;  /* Set a custom width for the button */
  height: 40px;  /* Adjust height if needed */
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 0px;
    
}

.logo-product{
  max-width: 120px;
}

.brand-name{
  max-width: 120px;
}

.nav{
  padding: 15px;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  transition: background-color 0.3s,color 0.3s,transform 0.2s;
  border-radius: 5px;
}

.nav:hover {
  background-color: white;
  color: black;
  transform: translateY(-3px);  /* Lift the button on hover */
}

.log-out-button {
  border: none;
  padding: 8px 20px;  /* Adjust padding for better button size */
  border-radius: 30px;  /* Rounded corners for a smoother look */
  background-color: #f44336;  /* Bright red background */
  color: white;
  font-size: 1rem;  /* Standard font size */
  font-weight: 600;  /* Bold text */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;  /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  /* Subtle shadow */
}

/* Hover Effect */
.log-out-button:hover {
  background-color: #d32f2f;  /* Darker red on hover */
  transform: translateY(-2px);  /* Lift the button on hover */
}

/* Focus Effect */
.log-out-button:focus {
  outline: none;  /* Remove default outline */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);  /* Add focus outline */
}
